
.cat1 {
    background-color: #{nth($colors, 3)};
    padding-top: 9rem;
  
    &-heading {
      @include heading();
      margin-bottom: 100px;
      text-align: center;
    }
  
    &-content {
      max-width: 980px;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-bottom: 100px;
  
      @include mq("tab") {
        max-width: 90%;
      }
      @include mq("sp") {
        padding-bottom: 50px;
      }
  
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
    }
  
    &-img {
      @include mq("tab") {
        width: 50%;
        object-fit: cover;
      }
      @include mq("sp") {
        width: 100%;
        object-fit: cover;
        margin-bottom: 25px;
      }
    }
  
    &-txt {
      max-width: 450px;
      font-size: 2rem;
      line-height: 1.5;
      @include mq("tab") {
        width: 45%;
      }
      @include mq("sp") {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  